<!DOCTYPE html>

<html lang="en">

<head>
    <script language="javascript" type="text/javascript" src="/javascripts/script.js"></script>

    <meta charset="utf-8" />

    <title>
        <%= title %>
    </title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
</head>

<body>
    <div>
        <div class="header">
            <h1>
                <%= title %>
            </h1>
        </div>
        <div>
            <form method="POST" action="/patientlogin">
                <table style="margin: auto">
                    <tr>
                        <td><label for="name">Name:</label></td>
                        <td><input type="text" id="name" name="name" required></td>
                    </tr>
                    <tr>
                        <td><label for="medicare">Medicare Number:</label></td>
                        <td><input type="number" id="medicare" name="medicare" required></td>
                    </tr>
                    <tr>
                        <td><label for="dateofbirth">Date of Birth:</label></td>
                        <td><input type="date" id="dateofbirth" name="dateofbirth" required></td>
                    </tr>
                </table>
                <br>
                <div style="text-align: center">
                    <input type="submit" value="Login" />
                </div>
            </form>
            <br>
            <form method="POST" action="/patient-register-redirect" class="inline">
                <div class="center">
                    <input type="hidden" name="register_redirect" value="register_redirect">
                    <button type="submit" name="register" value="Register" class="link-button">
                        Click here to register
                    </button>
                </div>
            </form>
        </div>
        <div class="footer">
            Virtual Healthcare using Blockchain and Edge Computing - CS 4999
        </div>
    </div>
</body>

</html>